<p>editplan works!</p>

<br>
<br>
<br>
    <div class="container">
      <h2></h2>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body" id ="editform">
          <form [formGroup]="planform"  class="form-horizontal" (ngSubmit)="onSubmit(planform.value)" enctype="multipart/form-data" >
              

            <div class="form-group">
              <div class="row">
                  <label class="control-label col-sm-2" for="title">PlanType:</label>
                  <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="planType" [(ngModel)]="planType">
                </div>
                </div>
              </div>
            
            <div class="form-group">
                <div class="row">
              <label class="control-label col-sm-2" for="plan_label">PlanLabel :</label>
              <div class="col-sm-10">
              <input type="text" class="form-control"   formControlName="planLabel" [(ngModel)]="planLabel">
            </div>
            </div>
            </div>

            <!-- <div class="form-group">
              <div class="row">
                <label class="control-label col-sm-2" for="country">Country:</label>
                <div class="col-sm-10">
                 <select formControlName="country" class="form-control"  id="countrydropdown">
                     <option value="">Select country</option>
                     <option *ngFor="let option of country"  [value]="option.name" [selected]="data?.country == option.name">{{option.name}}</option>
                 </select>
                </div>
              </div>
            </div> -->

            <div class="form-group">
              <div class="row">
                <label class="control-label col-sm-2" for="active">Active:</label>
                <div class="col-sm-10">
                <input type="radio" value="true" formControlName="active" [checked]="data?.active == true"> Yes
                <input type="radio" value="false" formControlName="active" [checked]="data?.active == false"> No
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-success" id="submit">Submit</button>
          </form>

        </div>
      </div>
    </div>


