<p>plan works!</p>

<p>operator works!</p>

<div>
    <button class="btn btn-success" id="addplan" (click)="addnewplan()">Add</button>
</div>

<div>
    <input
    type="text"
    style="padding:8px;margin:15px auto;width:30%;"
    placeholder="Type to filter the name column..."
    (keyup)="updateFilter($event)"
  />
  <ngx-datatable
    #table
    class="material striped"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10">


    <ngx-datatable-column name="id"> 
      <ng-template let-column="column" ngx-datatable-header-template> 
        <span>id</span>
      </ng-template> 
    </ngx-datatable-column>

        <ngx-datatable-column name="planType"> 
          <ng-template let-column="column" ngx-datatable-header-template> 
            <span>Plantype</span>
          </ng-template> 
        </ngx-datatable-column>

        <ngx-datatable-column name="planLabel"> 
            <ng-template let-column="column" ngx-datatable-header-template> 
              <span>Planlabel</span>
            </ng-template> 
          </ngx-datatable-column>
          
          <!-- <ngx-datatable-column name="active"> 
              <ng-template let-column="column" ngx-datatable-header-template> 
                <span>Active</span>
              </ng-template> 
            </ngx-datatable-column> -->

            <ngx-datatable-column name="Edit" prop="id"> 
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template> 

                  <i class="mdi mdi-pencil"  (click)= "editplan(row.id)" ></i>
        
                </ng-template> 
              </ngx-datatable-column> 
            
            <!-- <ngx-datatable-column name="Delete" prop="id">  
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <i class="mdi mdi-delete" (click)="deleteproduct(row.id)" ></i>
              </ng-template>
              </ngx-datatable-column> -->


              
            

  </ngx-datatable>
</div> 







